@model IEnumerable<DemoHotelBooking.Models.Room>
@{
    ViewData["Title"] = "AllRoomList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
<h1>AllRoomList</h1>
<a class ="navbar-brand" asp-area="Admin" asp-controller="RoomManager" asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAP)
                </td>
                <td>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="RoomManager" asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-success" asp-area="Admin" asp-controller="RoomManager" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-area="Admin" asp-controller="RoomManager" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
